<ng-container *ngIf="isLoading; else loadedContent">
    <p class="loading-placeholder">Loading response suggestions...</p>
</ng-container>

<ng-template #loadedContent>
    <div class="response-suggestions-parent" *ngIf="responseSuggestions">
        <div class="reload-button">
            <button><i class="fa fa-refresh"></i></button>
        </div>
        <div class="response-suggestion-container" *ngFor="let suggestion of responseSuggestions.response_suggestions">
            <span class="response-suggestion-text">{{ suggestion.suggestion }}</span>
            <button [tooltip]="['Analyse']" (click)="emitAnalysisRequest(suggestion.suggestion)">
                <i class="fa fa-comment"></i>
            </button>
            <button [tooltip]="['Copy']" (click)="navigator.clipboard.writeText(suggestion.suggestion)">
                <i class="fa fa-clipboard"></i>
            </button>
            <p class="response-suggestion-translation">{{ suggestion.translation }}</p>
        </div>
    </div>
</ng-template>
