<ng-container *ngIf="isLoading; else loadedContent">
  <p class="original-sentence">
    Loading analysis data...
  </p>
</ng-container>

<ng-template #loadedContent>
  <div *ngIf="analysisData">

    <p class="original-sentence">
            <span *ngFor="let word of analysisData.original_sentence.split(' ')"
                  [class.highlighted]="word === activeWord"
                  (mouseover)="setActiveWord(word)"
                  (mouseout)="clearActiveWord()">
                {{ word }}
            </span>
    </p>

    <p class="literal-translation">
            <span *ngFor="let word of analysisData.literal_translation.split(' ')"
                  [class.highlighted]="word === activeWord"
                  (mouseover)="setActiveWord(word)"
                  (mouseout)="clearActiveWord()">
                {{ word }}
            </span>
    </p>

    <div class="syntax-container">
      <div class="word-box" *ngFor="let wordData of analysisData.morph_analysis">
           <!-- [class.highlighted]="wordData.translation === activeWord || wordData.word === activeWord"
           (mouseover)="setActiveWord(wordData.translation)"
           (mouseout)="clearActiveWord()"-->
        <div class="original-word">{{ wordData.word }}</div>
        <div class="translated-word">{{ wordData.lemma }}</div>
        <!--div class="context">{{ wordData.grammatical_context }}</div-->
      </div>
    </div>
  </div>
</ng-template>
