<div class="response-suggestions-parent">
    <ng-container *ngIf="isLoading; else loadedContent">
        <div class="response-suggestion-container">
            <span class="response-suggestion-text">Loading response suggestions...</span>
        </div>
    </ng-container>

    <ng-template #loadedContent>
        <div class="reload-button">
            <button><i class="fa fa-refresh"></i></button>
        </div>
        <div class="response-suggestion-container" *ngFor="let suggestion of responseSuggestions.response_suggestions">
            <span class="response-suggestion-text">{{ suggestion.suggestion }}</span>
            <button (click)="navigator.clipboard.writeText(suggestion.suggestion)">
                <i class="fa fa-clipboard"></i>
            </button>
            <p class="response-suggestion-translation">{{ suggestion.translation }}</p>
        </div>
    </ng-template>
</div>
