<ng-container *ngIf="isLoading; else loadedContent">
    <p class="loading-placeholder">
        Loading analysis data...
    </p>
</ng-container>

<ng-template #loadedContent>
    <div *ngIf="analysisData">

        <p class="original-sentence">
            <span *ngFor="let word of analysisData.sentence.split(' ')"
                  [class.highlighted]="word === activeWord"
                  (mouseover)="setActiveWord(word)"
                  (mouseout)="clearActiveWord()">
                {{ word }}
            </span>
        </p>

        <div class="syntax-container">
            <div class="word-box" *ngFor="let wordData of analysisData.morph_analysis"
                 [tooltip]="'lemma: ' + wordData.lemma + '\ncontext: ' + wordData.morph_analysis"
                 [class.highlighted]="wordData.word === activeWord"
                 (mouseover)="setActiveWord(wordData.word)"
                 (mouseout)="clearActiveWord()">
                <div class="original-word">{{ wordData.word }}</div>
                <div class="translated-word">{{ wordData.translation }}</div>
            </div>
        </div>
    </div>
</ng-template>
