.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

textarea {
  width: 70%;
  height: 100px;
  font-size: 36px;
  text-align: center;
  padding-top: 50px;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

.inner-container {
  display: flex;
  flex-direction: column; /* Vertically stack the dropdown and the button */
  height: 100px; /* Match the height with the textarea */
  margin-left: 2%; /* Space between the textarea and right-container */
}

.language-selector {
  flex: 1;
  height: 100px;  /* Match the height with the textarea */
  font-size: 24px;  /* Same font size as the textarea */
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  text-align: center;
  margin: 5%;  /* Spacing between dropdown and textarea */
}

.button-container {
  display: flex;
  justify-content: center; /* Horizontally center the button */
}

button {
  flex: 1;
  font-size: 20px; /* Adjust this value to change the button's text size */
  padding: 10px 20px; /* Increase padding for a larger button */
  border-radius: 5px; /* Rounds the button's corners */
  border: none; /* Removes default borders */
  background-color: #007bff; /* Button color */
  color: #ffffff; /* Button text color */
  cursor: pointer; /* Changes mouse cursor when hovering over the button */
  transition: background-color 0.3s; /* Smooth color transition on hover */
}

textarea:focus {
  border-color: #007bff;  /* Optional: changes the border color when the textarea is focused */
}
