.tooltip {
    position: fixed;
    background-color: black;
    border-radius: 4px;
    color: #ffffff;
    font-family: Verdana, cursive;
    padding: 3px 6px;
    font-size: 13px;
    margin-top: 5px;
    transform:translateX(-50%);
}