.tooltip {
    position: fixed;
    background-color: #111111;
    border-radius: 4px;
    color: #dddddd;
    font-family: Verdana, cursive;
    font-weight: lighter;
    padding: 3px 6px;
    font-size: 11px;
    margin-top: 5px;
    transform:translateX(-50%);
    line-height: 50%;
}