<div>
  <textarea [(ngModel)]="sentence" placeholder="Enter your sentence here"></textarea>
</div>

<div class="button-container">
  <button (click)="processSentence()">Translate</button>
</div>

<app-translation
        [translationResult]="results"
        [isLoading]="isLoadingTranslation"></app-translation>

<app-syntax-breakdown
        [analysisData]="syntaxBreakdown"
        [isLoading]="isLoadingSyntax"></app-syntax-breakdown>

<app-response-suggestions
        [responseSuggestions]="responseSuggestions"
        [isLoading]="isLoadingSuggestions"></app-response-suggestions>
